.nosotros {
    background-color: #E9463D;
    color: var(--bs-white);
    text-align: justify;
}

.quienes_somos {
    h2 {
        text-align: center;
        margin-bottom: 30px;
        color: #ffffff;
    }
}

.quienes_somos__puntos {
    background-color: #F1A501;
    padding: 50px;
}

.quienes_somos--des {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 50px 0 30px 0;

    p {
        flex: 2;
    }

    .quienes_somos__puntos--img {
        flex: 1;

        img {
            width: 100%;
        }
    }
}

.quienes_somos__puntos--info {
    flex: 2;

    h3 {
        margin: 30px;
    }
}

.compromiso {
    margin: 40px 0;

    h2 {
        color: #ffffff;
    }

    h3 {
        margin-bottom: 40px;

    }
}

.quienes_somos__puntos--img {
    width: 300px;
    border-radius: 80px 0 80px 0;
    flex: 1;
    background: #ffffff;
    box-shadow: 15px 15px 1px #f1f1f1,
        -0px -0px 0px #f1f1f1;

}

.card__pilares {
    display: flex;
    gap: 2rem;
}

.card__pilares--pilar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 2px solid #fff;
    height: 340px;
    padding-right: 25px;

    h4 {
        margin-bottom: 20px;
    }

    p {
        height: 60%;
    }
}

.card__pilares--pilar::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: -80px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 8px;
}

.card__pilares--pilar:hover::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: -80px;
    background-color: #e9f3ff;
    border-radius: 50%;
    margin-right: 8px;
}

.contigo__conten1,
.contigo__conten2 {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

@media (min-width:991px) {

    .contigo__conten2,
    .contigo__conten1 {
        flex-direction: row;
        align-items: normal;
    }

    .contigo__conten2 {
        flex-direction: row-reverse;
    }
}

.contigo__conten1--info,
.contigo__conten2--info,
.contigo__conten1--img,
.contigo__conten2--img {
    background: rgb(255, 255, 255);
    flex: 1;
    border-radius: 20px;
    color: #000;
}

.contigo__conten1--img,
.contigo__conten2--img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contigo__conten2--info,
.contigo__conten1--info {
    padding: 40px;
    display: flex;
    align-items: center;
}


.valores {
    margin: 80px 0;

    h2 {
        margin: 40px 0;
        color: #ffffff;
    }
}

.valores__valores {
    h3 {
        margin: 40px 0;
    }
}

.quienes_somos--des,
.card__pilares {
    display: flex;
    flex-direction: column;

    @media (min-width:899px) {
        flex-direction: row;
    }
}

@media (min-width:899px) {
    .card__pilares--pilar:last-child {
        border: none;
    }
}

.valores__mision,
.valores__vision {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    @media (min-width:899px) {
        flex-direction: row;
        align-items: normal;
    }
}

.valores__mision h3,
.valores__vision h3 {
    text-align: center;
}

.valores__vision {
    margin: 50px 0;

    @media (min-width:899px) {
        flex-direction: row-reverse;
    }
}

.valores__mision--content,
.valores__vision--content {
    flex: 1;
}

.valores__mision--img,
.valores__vision--img {
    flex: 1;
    width: 200px;
    height: 200px;
    background-color: #F1A501;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.valores__mision--img img,
.valores__vision--img img {
    width: 150px;
    height: 150px;
}